body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}


#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(49, 48, 48);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(38, 37, 37);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    background-color: rgb(87, 85, 85);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(99, 99, 99);
}

button:active {
    background-color: rgb(128, 128, 128);
}

.operator {
    background-color: chocolate;
}

.operator:hover {
    background-color: rgb(242, 123, 38);
}

.operator:active {
    background-color: rgb(255, 141, 60);
}